* {
    --white: rgb(250, 250, 250);
    --gray: rgb(87, 87, 87);

    --background: rgba(252, 246, 241, 1);
    --text-font: 'Roboto', sans-serif;
    --text-size: 18px;
    --text-color: var(--gray);

    --cover-background: rgba(144, 181, 200, 0.5);
    --cover-transition: rgba(252, 246, 241, 0.65);
    --title-font: 'Ephesis', cursive;
    --title-size: 100px;
    --title-color: #B59410;

    --countdown-size: 250px;
    --countdown-background: var(--white);
    --countdown-container: url('countdown-rings.svg');
    --countdown-border: 5px solid rgb(148, 122, 84);
}

body {
    background: var(--background);
    font-family: var(--text-font);
    font-size: var(--text-size);
    color: var(--text-color);

    width: 100%;
    height: 100svh;
    margin: 0px;
}
.heading {
    font-family: var(--title-font);
    color: var(--white);
    font-size: 30px;
    background: var(--gray);
    padding: 8px;
    width: 360px;
    text-align: center;
    clip-path: polygon(
          0%   0%,
        100%   0%,
         90%  50%,
        100% 100%,
          0% 100%,
         10%  50%);
}
.info {
    margin-top: 15px;
}
.button {
    background: var(--title-color);
    color: var(--white);
    padding: 10px 0 !important;
    width: 300px;
    border-radius: 20.5px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.40);
}

#cover {
    background:
      linear-gradient(to bottom,
        var(--cover-background)   0%,
        var(--cover-background)  80%,
        var(--cover-transition)  90%,
        var(--background)       100%),
      url('cover.jpg');

    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cover-text {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: var(--title-size);
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#cover-subtext {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: calc(var(--title-size) / 3);
    text-align: center;
}
#name1 {
    padding-left:  5px;
    padding-right: 8px;
}
#namePlus {
    padding-right: 2px;
}
#name2 {
    padding-right: 10px;
}
@media (min-width: 850px) {
    #cover-text {
        flex-direction: row;
    }
    #namePlus {
        margin: 0 50px;
    }
}

.container {
  width: 24px;
  height: 60px;
}
.chevron {
  position: absolute;
  width: 28px;
  height: 2px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}
.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: var(--title-color);
}
.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}
.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

#countdown {
    padding: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown-container {
    width: calc(var(--countdown-size) + 150px);
    height: calc(var(--countdown-size) + 150px);
    background: var(--countdown-container) center center no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown-box {
    width: var(--countdown-size);
    height: var(--countdown-size);
    background: var(--countdown-background);
    border-radius: calc(var(--countdown-size) / 2);
    border: var(--countdown-border);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#countdown-intro {
    font-family: var(--title-font);
    font-size: 45px;
    height: 50px;
}
#countdown-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}
#countdown-watch > * {
    font-weight: 700;
    width: 50px;
    padding: 8px 6px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#countdown-watch > *:not(:last-child) {
    border-right: 1px solid rgb(87, 87, 87);
}
#countdown-watch .number {
    color: var(--title-color);
    font-family: 'Garamond', serif;
    font-size: 28px;
}
#countdown-outro {
    height: 45px;
}
#heart-wrapper {
	animation:pulse 1s infinite;
}
#heart {
  width: 50px;
  height: 45px;
}
#heart:before, #heart:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 10px;
  width: 25px;
  height: 40px;
  background: #aa0000;
  border-radius: 25px 25px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
}
@keyframes pulse {
	10% {transform: scale(1.1)}
}

#schedule {
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
#schedule > * {
    width: 100%;
    padding-bottom: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width: 850px) {
    #schedule > * {
        width: 50%;
    }
    ·schedule > *:first-child {
        padding-bottom: 50px;
    }
}

#links {
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
#link-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
