* {
    --background: rgba(252, 246, 241, 1);
    --text-font: 'Roboto', sans-serif;
    --text-size: 16px;
    --text-color: rgb(87, 87, 87);

    --cover-background: rgba(144, 181, 200, 0.5);
    --cover-transition: rgba(252, 246, 241, 0.65);
    --title-font: 'Ephesis', cursive;
    --title-size: 130px;
    --title-color: #B59410;

    --countdown-size: 300px;
    --countdown-background: rgb(250, 250, 250);
    --countdown-border: 5px solid rgb(148, 122, 84);
}

body {
    background: var(--background);
    font-family: var(--text-font);
    font-size: var(--text-size);
    color: var(--text-color);

    width: 100%;
    height: 100vh;
    margin: 0px;
}

#cover {
    background:
      linear-gradient(to bottom,
        var(--cover-background)   0%,
        var(--cover-background)  80%,
        var(--cover-transition)  90%,
        var(--background)       100%),
      url('cover.jpg');

    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cover-text {
    font-family: var(--title-font);
    color: var(--title-color);
    font-size: var(--title-size);
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#name1 {
    padding-left:  15px;
    padding-right: 18px;
}
#namePlus {
    padding-right: 22px;
}
#name2 {
    padding-right: 20px;
}
@media (min-width: 850px) {
    #cover-text {
        flex-direction: row;
    }
    #namePlus {
        margin: 0 50px;
    }
}

#countdown {
    padding: 100px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdown-box {
    width: var(--countdown-size);
    height: var(--countdown-size);
    background: var(--countdown-background);
    border-radius: calc(var(--countdown-size) / 2);
    border: var(--countdown-border);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#countdown-intro {
    font-size: 35px;
    height: 50px;
}
#countdown-watch {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}
#countdown-watch > * {
    font-weight: 700;
    width: 50px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#countdown-watch > *:not(:last-child) {
    border-right: 1px solid rgb(87, 87, 87);
}
#countdown-watch .number {
    color: var(--title-color);
    font-family: 'Garamond', serif;
    font-size: 30px;
}
#countdown-outro {
    height: 45px;
}
#heart-wrapper {
	animation:pulse 1s infinite;
}
#heart {
  width: 50px;
  height: 45px;
}
#heart:before, #heart:after {
  position: absolute;
  content: "";
  left: 25px;
  top: 10px;
  width: 25px;
  height: 40px;
  background: #aa0000;
  border-radius: 25px 25px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin :100% 100%;
}
@keyframes pulse {
	10% {transform: scale(1.1)}
}

