body {
    font-family: Quicksand, sans-serif;
    background: #F2D6CE;

    width: 100%;
    height: 100vh;
    margin: 0px;
}

#cover {
    background:
      linear-gradient(to bottom, rgba(144, 181, 200, 0.5) 0%, rgba(144, 181, 200, 0.5) 50%, rgba(144, 181, 200, 0.5) 100%),
      url('cover.jpg');
    background-position: center;
    background-size:cover;

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text {
    font-family: 'Brush Script MT', cursive;
    color: #B59410;
    font-size: 130px;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    @media (min-width: 820px) {
      flex-direction: row;
    }
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#name1, #name2 {
}

#namePlus {
    padding: 0 57px 0 39px;
    margin: 0 45px;
}

#clock {
    height: 100%;
}