body {
    font-family: Quicksand, sans-serif;

    width: 100%;
    height: 100vh;
    margin: 0px;
}

#cover {
    background: #F2D6CE;

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text {
    font-size: 130px;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    @media (min-width: 820px) {
      flex-direction: row;
    }
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#name1, #name2 {
    font-family: 'Brush Script MT', cursive;
    color: #B59410;
}

#namePlus {
    font-family: 'Brush Script MT', cursive;
    color: #F2D6CE;
    background: rgba(181,148,16,0.5);

    border-radius: 50%;
    padding: 0 57px 0 39px;
    margin: 0 45px;
}