body {
    background: rgba(252, 246, 241, 1);

    width: 100%;
    height: 100vh;
    margin: 0px;
}

#cover {
    background:
      linear-gradient(to bottom,
        rgba(144, 181, 200, 0.5 )   0%,
        rgba(144, 181, 200, 0.5 )  80%,
        rgba(252, 246, 241, 0.65)  90%,
        rgba(252, 246, 241, 1   ) 100%),
      url('cover.jpg');
    background-position: center;
    background-size:cover;

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text {
    font-family: 'Ephesis', cursive;
    color: #B59410;
    font-size: 130px;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#name1 {
    padding-left:  15px;
    padding-right: 18px;
}
#namePlus {
    padding-right: 22px;
}
#name2 {
    padding-right: 20px;
}


@media (min-width: 850px) {
    #cover-text {
         flex-direction: row;
    }
    #namePlus {
        margin: 0 50px;
    }
}

#clock {
    height: 100%;
}